@charset "UTF-8";

/*
Paleta de cores
#5140A8
#828DDC
#603A77
#181147
#050714
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #828DDC;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

    transform: translate(-50%, -50%);
}

section#login > div#imagem{
    display: block;
    background: #603A77 url(/imagens/imagem3.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #603A77;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #603A77;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: rgb(207, 208, 214);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within{
    background-color: white;

}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #828DDC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #603A77;

}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    color: rgba(0, 0, 0, 0.596);
    border: 1px solid #828DDC;
    border-radius: 5px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: #603A77;
}

form > a.botao > i{
    font-size: 0.8em;
}

